<template>
  <require from="../resources/elements/navbar"></require>
  <navbar style="direction: rtl;"></navbar>
  <require from="../resources/elements/admin-navbar"></require>

  <admin-navbar></admin-navbar>

  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">מספר אישי</th>
        <th scope="col">הרשאות</th>
        <th scope="col">איפוס ססמא</th>
        <th scope="col">בקשת משתמש</th>
        <th scope="col">מחיקת משתמש</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="user of userList">
        <td>${user.PersonalID}</td>
        <td>
          <div class="a1-row a1-center-items-h a1-center-items-v">
            <div class="a1-row">
              <span show.bind="user.IsAdmin"><strong>מנהל</strong></span>
              <span show.bind="!user.IsAdmin"><strong>מפקד</strong></span>
            </div>
            <div class="a1-row">
              <button class="btn btn-sm btn-info" click.delegate="changePerms(user.ID)">החלפת הרשאה</button>
            </div>
          </div>
        </td>
        <td>
          <button class="btn btn-sm btn-default" click.delegate="showResetConfirmBox = true"
            show.bind="!showResetConfirmBox">איפוס</button>
          <div class="a1-column" show.bind="showResetConfirmBox">
            <span>נא לאשר את איפוס הססמא</span>
            <div class="a1-row a1-center-items-h">
              <button class="btn btn-sm btn-success" click.delegate="resetPassword(user.ID)">אישור איפוס</button>
              <button class="btn btn-sm btn-danger" click.delegate="showResetConfirmBox = false">ביטול איפוס</button>
            </div>
          </div>
        </td>
        <td show.bind="user.IsActive">המשתמש מאושר</td>
        <td show.bind="!user.IsActive">
          <div class="a1-row a1-center-items-h" show.bind="!showDeclineUserRequestBox">
            <button class="btn btn-sm btn-success" click.delegate="verifyUserRequest(user.ID)">אישור בקשה</button>
            <button class="btn btn-sm btn-danger" click.delegate="showDeclineUserRequestBox = true">דחיית בקשה</button>
          </div>

          <div class="a1-column" show.bind="showDeclineUserRequestBox">
            <span>נא לאשר את דחיית הבקשה</span>
            <div class="a1-row a1-center-items-h">
              <button class="btn btn-sm btn-success" click.delegate="declineUserRequest(user.ID)">אישור דחייה</button>
              <button class="btn btn-sm btn-danger" click.delegate="showDeclineUserRequestBox = false">ביטול
                דחייה</button>
            </div>
          </div>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" click.delegate="showDeleteUserConfirmBox = true"
            show.bind="!showDeleteUserConfirmBox">מחיקה פח</button>
          <div class="a1-column" show.bind="showDeleteUserConfirmBox">
            <span>נא לאשר את מחיקת המשתמש</span>
            <div class="a1-row a1-center-items-h">
              <button class="btn btn-sm btn-success" click.delegate="deleteUser(user.ID)">אישור מחיקה</button>
              <button class="btn btn-sm btn-danger" click.delegate="showDeleteUserConfirmBox = false">ביטול
                מחיקה</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
