<template>
    <require from="../resources/elements/navbar"></require>
    <navbar style="direction: rtl;"></navbar>
    
  <div class="a1-row a1-center-items-h a1-center-items-v a1-full-height">
<form class="text-center border border-light p-5" action="#!">

  <p class="h4 mb-4">התחברות</p>

  <input type="number" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="מספר אישי" value.bind="personalID">

  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="ססמא" value.bind="password">

  <div class="d-flex justify-content-around">

  </div>

  <button class="btn btn-info btn-block my-4" type="submit" click.delegate="login()">התחברות</button>

  <p>צריך הרשאות?
      <a route-href="register">הרשמה</a>
  </p>

</form>

<style>
  body {
    overflow-y: hidden;
  }
</style>
  </div>

</template>
