<template>

  <require from="../resources/elements/navbar"></require>
  <navbar style="direction: rtl;"></navbar>
  <require from="../resources/elements/admin-navbar"></require>

  <admin-navbar></admin-navbar>


  <div class="a1-column a1-padding">
    <h4>פרטי הסעה</h4>

    <div class="a1-row">
      <span><strong>מוצא: </strong></span>
      <span>${bus.From}</span>
    </div>
    <div class="a1-row">
      <span><strong>יעד: </strong></span>
      <span>${bus.To}</span>
    </div>
    <div class="a1-row">
      <span><strong>תאריך ושעה: </strong></span>
      <span>${bus.DateTime}</span>
    </div>
    <div class="a1-row">
      <span><strong>תפוסה: </strong></span>
      <span>${bus.NumberOfSeats} / ${bus.SeatsTaken}</span>
    </div>
    <div class="a1-row">
      <span><strong>הערות: </strong></span>
      <span>${bus.Comments}</span>
    </div>

    <h4>פרטי רשומים להסעה</h4>
    <span show.bind="!bus.SeatsTaken">אין רשומים להסעה.</span>
    <div class="a1-row flex-wrap a1-justify-items a1-padding">
      <div>
        <h4>מאושרים להסעה</h4>
        <div class="a1-column" repeat.for="people of verifiedPeople">
            <div class="a1-row a1-center-items-h">
                <span>${people.FullName}</span>
                <span>${people.PersonalNumber}</span>
            </div>
        </div>
      </div>
      <div>
          <h4>ממתינים לאישור</h4>
          <div class="a1-column" repeat.for="people of waitingPeople">
            <div class="a1-row a1-center-items-h">
                <span>${people.FullName}</span>
                <span>${people.PersonalNumber}</span>
            </div>

            <div class="a1-row">
              <button class="btn btn-sm btn-success" click.delegate="approveRideRequest(people.ID)">אישור</button>
              <button class="btn btn-sm btn-danger" click.delegate="declineRideRequest(people.ID)">דחייה</button>
            </div>
          </div>
        </div>
      <div>
        <h4>לא מאושרים</h4>
        <div class="a1-column" repeat.for="people of declinedPeople">
            <div class="a1-row a1-center-items-h">
                <span>${people.FullName}</span>
                <span>${people.PersonalNumber}</span>
            </div>
        </div>
      </div>


    </div>

  </div>

</template>
